:root {
  --accent-color: #802c25;
  --text-color: #000000;
  --global-text-color: #ffffff;
  --help-text-color: #5d5d5d;
  --contacts-text-color: #d4c399;
  --typography-t60: #8B8B8B;
  --button-color-40: #B9B9B9;
  --button-color-red-80: #63130D;
  --button-color-red-30: #D2B9B7;
  --other-red: #A32116;
  --default-30: #D1D1D1;
  --default-50: #A2A2A2;
  --primary-beige: #D4C399;
  --main-box-shadow: 0px 4px 61px 0px rgba(127, 43, 37, 0.14);

  --main-transition: all 0.4s ease;

  --second-font-family: "Playfair Display", serif;
}

/* ---------button-white -------*/
/* transition: var(--main-transition); */
/* hover */
/* {
  background-color: var(--accent-color);
  color: var(--global-text-color);
} */
/* {
  stroke: var(--global-text-color);
} */
/* focus */
/* {
  outline: none;
  border: 2px solid var(--accent-color);
  background-color: var(--global-text-color);
  color: var(--accent-color);
} */
/* {
  stroke: var(--accent-color);
} */

/* ---------button red -------*/
/* hover */
/* {
  background-color: var(--button-color-red-80);
} */
/* focus */
/* {
  outline: none;
  border: 2px solid var(--button-color-red-80);
} */

/*---------------------- RESET ----------------------*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

input:focus-visible {
  outline: none;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;

  background-color: #f0f0f0;
  font-family: Inter, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.21;
  color: var(--text-color);
  background-color: #ffffff;
}

main {
  flex-grow: 1;
}

footer {
  flex-grow: 0;
}

/*----------------------CONTAINER ----------------------*/
.container {
  width: 390px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 843px) {
  .container {
    width: 803px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1320px;
  }
}

/*----------------------------------------------HEADER-------------------- ----------------------*/
.container.head__container {
  padding-top: 18px;
  padding-bottom: 18px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__decor {
  width: 100%;
  border-bottom: 1px solid rgba(127, 43, 37, 0.14);
}
.header__search-panel {
  display: none;
  padding-top: 18px;
  padding-bottom: 18px;
  background-color: var(--global-text-color);
}
.header__search-panel.is-open {
  display: block;
}
@media screen and (min-width: 1440px) {
  .header__search-panel.is-open {
    display: none;
  }
}
.header__search-panel-label {
  position: relative;
  display: block;
  width: 100%;
}

/*----------------------header nav*/
.header__nav {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header__nav {
    display: block;
  }
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__item {
  padding: 10px 20px 10px 20px;
  border-radius: 100px;
  transition: var(--main-transition);
}
.nav__item:hover,
.nav__item:focus {
  background-color: var(--accent-color);
}
.nav__link {
  display: flex;
  align-items: center;
  gap: 8px;

  font-size: 14px;
  line-height: 1.21;
  color: var(--text-color);
  transition: var(--main-transition);
}
.nav__item:hover .nav__link {
  color: var(--global-text-color);
}
.nav__item:focus .nav__link {
  color: var(--global-text-color);
}
.nav__link-icon {
  fill: transparent;
  stroke: var(--text-color);
}
.nav__item:hover .nav__link-icon{
  fill: transparent;
  stroke: var(--global-text-color);
}
/*----------------------header content*/
.header-content {
  display: none;
}
@media screen and (min-width: 1440px) {
  .header-content {
    display: flex;
    align-items: center;
    gap: 24px;
  }
}
.search__container {
  position: relative;
  display: inline-block;
  width: 220px;
  height: 42px;
}
.search__input {
  width: 100%;
  height: 100%;
  padding: 11px 16px;
  border: none;
  border-radius: 50px;
  background-color: #f6f0f0;

  font-size: 12px;
  line-height: 1.21;
  color: #5d5d5d;
}
.search__button {
  position: absolute;
  top: 11px;
  right: 16px;
  padding: 0;
  border: none;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: var(--main-transition);
}
.search__button__icon{
  fill: transparent;
  stroke: var(--accent-color);
}
.search__button:hover .search__button__icon, .search__button:focus .search__button__icon{
  outline: none;
  stroke: var(--button-color-red-80);
}

  /* ----select */
  .select {
    position: relative;
    width: 86px;
  }
  .select.is-active .select-body{
    display: block;
  }
  .select-header {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--accent-color);
    border-radius: 100px;
    cursor: pointer;
  }
  .select-current {
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.33;
    color: var(--accent-color);
  }
  .select-icon {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  use.select-icon {
    fill: transparent;
    stroke: var(--accent-color);
  }
  .select-body {
    width: 125px;
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    top: 100%;
    padding: 8px;
    border-radius: 6px;
    border: none;
    background-color: var(--global-text-color);
  }
  .select-item {
    margin-bottom: 8px;
    padding: 8px 15px;
    cursor: pointer;
  
    font-family: "Playfair Display", serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.33;
    color: var(--accent-color);
  }
  .select-item:last-child {
    margin-bottom: 0;
  }
  .select-item:hover, .select-item:focus {
    border-radius: 100px;
    color: var(--global-text-color);
    background-color: var(--accent-color);
  }
/*----------------------header buttons*/
@media screen and (min-width: 1440px) {
  .header__buttons {
    display: none;
  }
}

.header__button-search,
.header__button-menu {
  width: 44px;
  height: 44px;
  padding: 6px;

  background-color: transparent;
  border: none;
  cursor: pointer;
}
.button-menu__icon {
  fill: var(--accent-color);
}
.header__button-menu:hover .button-menu__icon{
  fill: var(--button-color-red-80);
}
.header__button-menu:focus .button-menu__icon{
  outline: none;
  fill: var(--button-color-red-80);
  stroke: var(--button-color-red-80);
}

/* -----------services container */
.container.services__container {
  display: none;
}
@media screen and (min-width: 1440px) {
  .container.services__container {
    display: block;
  }
}

.services__list {
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}
.services__item {
  height: 100%;
}
.services__button {
  height: 100%;
  padding: 0;
  background-color: transparent;
  border: none;
  border-bottom: none;
  cursor: pointer;
  transition: var(--main-transition);
 

  font-size: 15px;
  line-height: 1.21;
}
.services__button:hover, .services__button:focus {
   color: var(--accent-color);
   border-bottom: 1px solid var(--accent-color);
}
/*----------------------------------------------MAIN-------------------- ----------------------*/
.main {
  padding-top: 20px;

  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../images/bg_sm@1x.png");
}
@media (min-resolution: 192dpi) {
  .main {
    background-image: url("../images/bg_sm@2x.png");
  }
}
/* TABLET SCREEN */
@media screen and (min-width: 843px) {
  .main {
    background-image: url("../images/bg_md@1x.png");
  }
}
@media (min-resolution: 192dpi) and (min-width: 843px) {
  .main {
    background-image: url("../images/bg_md@2x.png");
  }
}
/* DESKTOP SCREEN */
@media screen and (min-width: 1440px) {
  .main {
    background-image: url("../images/bg_lg@1x.png");
  }
}
@media (min-resolution: 192dpi) and (min-width: 1440px) {
  .main {
    background-image: url("../images/bg_lg@2x.png");
  }
}

/* <!---------------------------FOOTER---------------------- --> */
.footer {
  padding-top: 60px;
  padding-bottom: 10px;
  background-color: var(--accent-color);
}
@media screen and (min-width: 843px) {
  .footer {
    padding-bottom: 20px;
  }
}

.footer__logo-container {
  width: 218px;
  height: 39px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1440px) {
  .footer__logo-container {
    margin-bottom: 40px;
  }
}
.footer__logo {
  display: block;
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 843px) {
  .footer__content-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1440px) {
  .footer__content-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
}
/* ----------------footer-info */
.footer__info {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--contacts-text-color);
}
@media screen and (min-width: 843px) {
  .footer__info {
    padding-bottom: 0;
    border-bottom: none;
  }
}
.footer__info-containers {
  padding: 12px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer__info-containers.footer__info-contact {
  margin-bottom: 20px;
}
.footer__info-title {
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 10px;
  line-height: 1.4;
  color: var(--global-text-color);
}
.footer__contacts {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  color: var(--contacts-text-color);
}
.footer__contacts.footer__info-contact-tel {
  margin-bottom: 6px;
}
.footer__info-contact-email {
  font-weight: 300;
  font-size: 14px;
  line-height: 1.4;
  color: var(--global-text-color);
}
.footer__contacts.footer__adress {
  margin-bottom: 12px;
}
.footer__table {
  width: 100%;
}
.footer__table-td {
  font-size: 14px;
  line-height: 1.4;
  color: #d1d1d1;
}
.footer__table-td.footer__table-td-time {
  color: var(--global-text-color);
}
/* --------------------footer-pages */
.footer__pages {
  padding-top: 30px;
  margin-bottom: 30px;
}
@media screen and (min-width: 1440px) {
  .footer__pages {
    padding: 0;
  }
}
.footer__pages-title {
  display: none;
}
@media screen and (min-width: 1440px) {
  .footer__pages-title {
    display: block;
    margin-bottom: 24px;

    font-weight: 400;
    font-size: 16px;
    color: var(--global-text-color);
  }
}
.footer__pages-item {
  margin-bottom: 16px;
}

@media screen and (min-width: 1440px) {
  .footer__pages-item.footer__pages-services {
    display: none;
  }
}
.footer__pages-item:last-child {
  margin-bottom: 0;
}
.footer__pages-link {
  display: block;
  width: 100%;

  font-size: 16px;
  font-weight: 400;
  color: var(--global-text-color);
}
@media screen and (min-width: 843px) {
  .footer__pages-link {
    margin-right: 10px;
  }
}

.footer__pages-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  background-color: transparent;
}
.footer-pages-services__box {
  display: none;
}
.footer-pages-services__box.is-open {
  display: block;
  margin-top: 6px;
  padding: 20px;
  border-left: 1px solid var(--global-text-color);
}
@media screen and (min-width: 843px) {
  .footer-pages-services__box.is-open {
    display: flex;
    gap: 50px;
  }
}


/* -----------------footer-socials */
.footer__socials-container {
  padding-bottom: 30px;
  border-bottom: 1px solid var(--contacts-text-color);
}
@media screen and (min-width: 1440px) {
  .footer__socials-container {
    padding-bottom: 40px;
  }
}
.footer__socials-list {
  display: flex;
  align-items: center;
  gap: 14px;
}
.footer__socials-item {
  width: 42px;
  height: 42px;
  background-color: var(--global-text-color);
  border-radius: 8px;
  transition: var(--main-transition);
}
.footer__socials-item:hover{
  background-color: var(--accent-color);
}
.footer__socials-item:focus{
  outline: none;
  border: 2px solid var(--accent-color);
  background-color: var(--global-text-color);
}
.footer__socials-link {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__socials-icon{
  fill: var(--accent-color);
  transition: var(--main-transition);
}
.footer__socials-item:hover .footer__socials-icon{
  fill: var(--global-text-color);
}
.footer__socials-item:focus .footer__socials-icon{
  fill: var(--accent-color);
}
/* -------------footer-info-line */
.footer__info-line {
  padding-top: 14px;
}
.footer__info-line-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 14px;
}
@media screen and (min-width: 843px) {
  .footer__info-line-box {
    justify-content: flex-start;
    gap: 14px;
  }
}
.footer__info-line-text {
  font-weight: 400;
  font-size: 14px;
  color: var(--global-text-color);
}
.footer__info-line-text-part2 {
  font-weight: 400;
  font-size: 12px;
  color: #b9b9b9;
}
/* -----------------footer__services */
@media screen and (max-width: 1439px) {
  .footer__services {
    display: none;
  }
}
.footer__services-title {
  margin-bottom: 24px;

  font-weight: 400;
  font-size: 16px;
  color: var(--global-text-color);
}
.footer__list-container {
  display: flex;
  align-items: center;
  gap: 100px;
}
.footer__services-item {
  margin-bottom: 16px;
  cursor: pointer;
}
.footer__item:last-child {
  margin-bottom: 0;
}
.footer__services-link {
  font-weight: 400;
  font-size: 14px;
  color: var(--global-text-color);
}

/* <!---------------------------MOBILE MENU---------------------- --> */
.no-scroll {
  position: fixed;
  overflow-y: scroll;
}
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  width: 100vw;
  height: 100vh;
  background-color: var(--global-text-color);

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.mobile-menu.is-open {
  transform: translateX(0);
}

.container.mobile-menu__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 18px;
  padding-bottom: 18px;
}
.header__buttons {
  display: flex;
  align-items: center;
  gap: 14px;
}
@media screen and (min-width: 1440px) {
  .header__buttons {
    display: none;
  }
}
.mobile-menu__main {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-image: url("../images/bg_sm@1x.png");
}
@media (min-resolution: 192dpi) {
  .mobile-menu__main {
    background-image: url("../images/bg_sm@2x.png");
  }
}
/* TABLET SCREEN */
@media screen and (min-width: 843px) {
  .mobile-menu__main {
    background-image: url("../images/bg_md@1x.png");
  }
}
@media (min-resolution: 192dpi) and (min-width: 843px) {
  .mobile-menu__main {
    background-image: url("../images/bg_md@2x.png");
  }
}

.container.mobile-menu__main-container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px;
}
.mobile-menu__content {
  flex-grow: 1;
}
.mobile-menu__search-container {
  width: 100%;
  margin-bottom: 40px;
}
.mobile-menu__nav-item {
  margin-bottom: 24px;
  cursor: pointer;
}
.mobile-menu__nav-item:last-child {
  margin-bottom: 0;
}
.mobile-menu__nav-link {
  display: block;
  width: 100%;
  height: 100%;

  font-size: 28px;
  color: var(--text-color);
}
.mobile-menu__nav-button {
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  padding: 0;
  border: none;
  background-color: transparent;
  font-size: 28px;
  color: var(--text-color);
}
.mobile-menu__button {
  width: 100%;
  padding: 12px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 100px;
  background-color: var(--accent-color);
  color: var(--global-text-color)
}
@media screen and (min-width: 843px) {
  .mobile-menu__button {
    width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* <!---------------------------MOBILE SUBMENU---------------------- --> */
.mobile-menu__submenu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  width: 100vw;
  height: 100vh;
  background-color: var(--global-text-color);
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.mobile-menu__submenu.is-open {
  transform: translateX(0);
}

.mobile-menu__nav-button.mobile-submenu__nav-button {
  justify-content: normal;
  margin-bottom: 20px;
}
.mobile-submenu__item-services {
  margin-bottom: 6px;
}
.mobile-submenu__item-services:last-child {
  margin-bottom: 0;
}
.mobile-submenu__button-services {
  width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: transparent;

  font-size: 22px;
}