.article {
    margin-bottom: 140px;
}
@media screen and (min-width: 1440px) {
    .article {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .container.article__container {
        width: 860px;
    }
}
.article__head {
    margin-bottom: 40px;
}

@media screen and (min-width: 1440px) {
    .article__head {
        margin-bottom: 20px;
    }
}

.article__title {
    margin-bottom: 24px;

    font-family: var(--second-font-family);
    font-size: 28px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 4.2px;
    text-transform: uppercase;
    color: var(--accent-color);
}

@media screen and (min-width: 1440px) {
    .article__title {
        margin-bottom: 12px;

        font-size: 34px;
        letter-spacing: 3.4px;
        line-height: 1.4;

    }
}

.article__info {
    display: flex;
    align-items: center;
    gap: 24px;
}

.article-info__text {
    font-size: 14px;
    line-height: 1.4;
    color: var(--accent-color);
}

@media screen and (min-width: 1440px) {
    .article-info__text {
        font-size: 15px;
    }
}

.article-info__decor {
    width: 100%;
    height: 1px;
    background-color: var(--accent-color);
}

.article__thumb {
    width: 100%;
    height: 278px;
    margin-bottom: 40px;
    border-radius: 12px;
    overflow: hidden;
}

@media screen and (min-width: 834px) {
    .article__thumb {
        height: 450px;
    }
}

@media screen and (min-width: 1440px) {
    .article__thumb {
        height: 494px;
    }
}

.article__thumb>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and (min-width: 1440px) {
    .article__main-content {
        width: 700px;
    }
}

.article__subtitle {
    margin-bottom: 24px;

    font-family: var(--second-font-family);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.3;
}

@media screen and (min-width: 1440px) {
    .article__subtitle {
        margin-bottom: 20px;

        font-size: 22px;
        font-weight: 600;
        line-height: 1.2;
    }
}

.article__description-text {
    margin-bottom: 40px;

    font-size: 14px;
    line-height: 1.6;
}

@media screen and (min-width: 1440px) {
    .article__description-text {
        font-size: 16px;
    }
}

.subscribe-article {
    margin-bottom: 140px;
}

@media screen and (min-width: 1440px) {
    .container.subscribe-article__container {
        width: 860px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.title.subscribe-article__title {
    font-size: 28px;
    font-weight: 500;
    line-height: 1.3;
    letter-spacing: 4.2px;
}

@media screen and (min-width: 834px) {
    .title.subscribe-article__title {
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 1440px) {
    .title.subscribe-article__title {
        margin-bottom: 0;

        font-weight: 600;
        font-size: 22px;
        line-height: 1.2;
        letter-spacing: 0.88px;
    }
}

.subscribe-article__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

@media screen and (min-width: 834px) {
    .subscribe-article__content {
        flex-direction: row;
        gap: 54px;
    }
}
@media screen and (min-width: 1440px) {
    .subscribe-article__content {
        gap: 24px;
    }
}

.subscribe-article__button {
    width: 100%;
    padding-top: 12px;
    padding-bottom: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: 1px solid var(--accent-color);
    border-radius: 100px;
    background-color: var(--global-text-color);
    transition: var(--main-transition);
}

@media screen and (min-width: 1440px) {
    .subscribe-article__button {
        padding: 0;
        border: none;
        background-color: transparent;
    }
}
@media screen and (min-width: 1440px) {
    .subscribe-article__button:hover {
        padding: 9px;
        border-radius: 8px;
        background-color: var(--accent-color);
    }
}
.subscribe-article-button__icon {
    fill: var(--accent-color);
    transition: var(--main-transition);
}
@media screen and (min-width: 1440px) {
    .subscribe-article__button:hover .subscribe-article-button__icon {
        fill: var(--global-text-color);
    }
}

.subscribe-article-button__text {
    font-size: 16px;
    color: var(--accent-color);
}

@media screen and (min-width: 1440px) {
    .subscribe-article-button__text {
        display: none;
    }
}

.title.subscribe-article__title.blog-article {
    margin-bottom: 24px;
}
.blog-article{
    overflow: hidden;
}
.description.blog-article__description {
    margin-bottom: 30px;
}

@media screen and (min-width: 834px) {
    .description.blog-article__description {
        margin-bottom: 40px;
    }
}