/* ------------------------BOOK HEAD------------------- */
.book-head {
    margin-bottom: 24px;
}
@media screen and (min-width: 1440px) {
    .book-head {
        margin-bottom: 160px;
    }
}

@media screen and (min-width: 1440px) {
    .container.book-head__container {
        display: flex;
        justify-content: space-between;
        gap: 80px;
    }
}
.book-head__thumb {
    width: 100%;
    height: 330px;
    margin-bottom: 40px;
    overflow: hidden;
    border-radius: 12px;
}
@media screen and (min-width: 834px) {
    .book-head__thumb {
        height: 450px;
    }
}
@media screen and (min-width: 1440px) {
    .book-head__thumb {
        width: 600px;
        height: 609px;
        margin-bottom: 0;
    }
}
.book-head__thumb > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@media screen and (min-width: 1440px) {
    .book-head__content {
        width: 600px;
    }
}
.tittle.book-head__tittle {
    font-weight: 500;
    font-size: 28px;
    letter-spacing: 4.2px;
    line-height: 1.33;
}
@media screen and (min-width: 1440px) {
    .tittle.book-head__tittle {
        margin-bottom: 12px;

        font-size: 34px;
        letter-spacing: 3.4px;
        line-height: 1.4;
    }
}

@media screen and (min-width: 1440px) {
    .description.book-head__description {
        margin-bottom: 40px;
    }
}
.booking__info-block {
    width: 100%;
    margin-bottom: 40px;
    padding: 14px;
    border-radius: 6px;
    background-color: var(--accent-color);
    box-shadow: var(--main-box-shadow);
}
.booking-info-block__item {
    margin-bottom: 14px;
    padding-bottom: 14px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.booking-info-block__item.margin{
    margin-bottom: 0;
    border-bottom: none;
}
.booking-info-block__value {
    margin-bottom: 7px;

    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    color: var(--global-text-color);
}
.booking-info-block__name {
    font-weight: 300;
    font-size: 12px;
    line-height: 1.4;
    color: var(--global-text-color);
}
.booking__subtitle {
    margin-bottom: 24px;

    font-family: var(--second-font-family);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.33;
    color: var(--accent-color);
}
@media screen and (min-width: 1440px) {
    .booking__subtitle{
        font-size: 24px;
    }
}
@media screen and (min-width: 1440px) {
    .booking__subtitle.book-head__subtitle{
        display: none;
    }
}

.info__calculator.booking{
    box-shadow: var(--main-box-shadow);
}
@media screen and (min-width: 834px) {
    .calculator__dropdouwn.booking__dropdown{
        width: 100%;
    }
}


/* ------------------------CHOOSE DATA------------------- */
.data {
    margin-bottom: 140px;
}
.booking__subtitle.data__subtitle {
    display: none;
}
@media screen and (min-width: 1440px) {
    .booking__subtitle.data__subtitle {
        display: block;
        margin-bottom: 40px;
    }
}

@media screen and (min-width: 834px) {
    .data__content {
        display: flex;
        gap: 24px;
        justify-content: space-between;
        align-items: flex-start;
    }
}
@media screen and (min-width: 1440px) {
    .data__content {
        display: flex;
        gap: 0;
        justify-content: normal;
        align-items: center;
        border-radius: 6px;
        background-color: var(--global-text-color);
        box-shadow: 0px 4px 61px 0px rgba(127, 43, 37, 0.14);
    }
}

.data__calendar {
    margin-bottom: 24px;
    box-shadow: 0px 4px 61px 0px rgba(127, 43, 37, 0.14);
}
@media screen and (min-width: 834px) {
    .data__calendar {
       width: 100%;
    }
}
@media screen and (min-width: 1440px) {
    .data__calendar {
       width: 440px;
       margin-bottom: 0;
       padding: 20px 40px 20px 20px;
       box-shadow: none;
       border-right: 1px solid var(--button-color-red-30);
    }
}
.air-datepicker{
    background-color: transparent;
    border: none;
    
}
.air-datepicker.-inline-{
    width: 100%;
}
.air-datepicker-nav--title{
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.21;
    color: var(--accent-color);
}
.air-datepicker-nav--title i{
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.21;
    color: var(--accent-color);
}
.air-datepicker--content{
    padding: 24px 12px 12px 12px;
}
.air-datepicker-body--day-names{
    margin-bottom: 24px;
}
.air-datepicker-body--day-name{
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.4;
    color: var(--text-color);
    text-transform: none;
}
.air-datepicker-cell{
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.21;
    color: var(--accent-color);
}
.air-datepicker-cell.-current-{
    font-weight: 600;
    color: var(--accent-color);
}
.air-datepicker-cell.-focus-, .air-datepicker-cell.-selected-.-focus-{
    background-color: var(--accent-color);
    color: var(--global-text-color);
}
.air-datepicker-cell.-selected-{
    background-color: var(--accent-color);
}
.air-datepicker-cell.-selected-.-current-{
    background-color: var(--accent-color);
}
.air-datepicker-cell.-disabled-{
    pointer-events: none;
    cursor: not-allowed;
}

@media screen and (min-width: 834px) {
    .data__time {
       width: 100%;
    }
}
@media screen and (min-width: 1440px) {
    .data__time {
       display: none;
    }
}

@media screen and (max-width: 1439px) {
    .data__time-desctop {
       display: none;
    }
}
@media screen and (min-width: 1440px) {
    .data__time-desctop {
       width: 840px;
       display: block;
       padding-left: 40px;
    }
}
.data-time__box {
    width: 100%;
    margin-bottom: 24px;
    padding: 20px;
    border-radius: 6px;
    background-color: var(--global-text-color);
    box-shadow: 0px 4px 61px 0px rgba(127, 43, 37, 0.14);
}
.data-time__box.margin{
    margin-bottom: 0;
}
.data-time__toggle-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: transparent;
}
.data-time__toggle-icon {
    fill: transparent;
    stroke: var(--text-color);
}
.data-time__dropdown {
    display: none;
    padding-top: 40px;
}
.data-time__box.is-open .data-time__dropdown{
    display: block;
}
.data-time__box.is-open .data-time__toggle-icon{
    transform: rotate(180deg);
}
.data-time__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.data-time__list-item {
    width: 90px;
    
}
.data-time__list-button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid var(--accent-color);
    background-color: transparent;
    transition: var(--main-transition);
    cursor: pointer;
    

    font-size: 15px;
    letter-spacing: 0.15px;
    color: var(--accent-color);
}
.data-time__list-button:hover, .data-time__list-button.selected{
    border: none;
    background-color: var(--accent-color);
    color: var(--global-text-color);
}
.data-time__list-button:focus{
    border: 2px solid var(--button-color-red-80);
    background-color: var(--accent-color);
    color: var(--global-text-color);
}
.data-time__list-button:disabled{
    border: 1px solid var(--typography-t60);
    background-color: transparent;
    color: var(--typography-t60);
}

/* ------------------------CHOOSE SPECIALIST------------------- */
.specialists {
    margin-bottom: 140px;
}
@media screen and (min-width: 1440px) {
    .specialists {
       margin-bottom: 160px;
    }
}

@media screen and (min-width: 834px) {
    .booking__subtitle.specialists__subtitle {
       margin-bottom: 20px;
    }
}
@media screen and (min-width: 1440px) {
    .booking__subtitle.specialists__subtitle {
       margin-bottom: 40px;
    }
}

.description.specialists__description {
    margin-bottom: 40px;
}
@media screen and (min-width: 1440px) {
    .description.specialists__description {
       display: none;
    }
}

.specialists__content {
    border-radius: 6px;
    background-color: var(--global-text-color);
    box-shadow: 0px 4px 61px 0px rgba(127, 43, 37, 0.14);
}
@media screen and (min-width: 1440px) {
    .specialists__content {
       display: none;
    }
}

.specialists__head {
    display: flex;
    padding: 24px;
    gap: 20px;
    border-radius: 6px;
}
.specialists__head:focus{
    border: 1px solid var(--accent-color);
}
.specialists__head.selected{
    border: none;
    background-color: var(--accent-color);
}

.specialists__head-thumb {
    width: 46px;
    height: 46px;
    overflow: hidden;
    border-radius: 100px;
}
.specialists__head-thumb > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.specialists__head-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: transparent;
}
.specialists__head:hover .specialists__head-button{
    color: var(--accent-color);
}

.specialists__head.selected .specialists-head__button-text{
    color: var(--global-text-color);
}

.specialists__head-icon {
    fill: transparent;
    stroke: var(--text-color);
}
.specialists__head.selected .specialists__head-icon{
    stroke: var(--global-text-color);
}
.specialists__head:hover .specialists__head-icon{
    stroke: var(--accent-color);
}
.specialists__head.is-open .specialists__head-icon{
    transform: rotate(180deg);
}

.specialists__dropdown {
    display: none;
    border-top: 1px solid var(--primary-beige);
}
.specialists__head.is-open + .specialists__dropdown{
    display: block;
}

.specialists-list__item {
    padding: 24px;
    display: flex;
    align-items: flex-start;
    gap: 20px;
}
.specialists-list__item:focus{
    border: 1px solid var(--accent-color);
    border-radius: 6px;
}
.specialists-dropdown__thumb {
    width: 46px;
    height: 46px;
    overflow: hidden;
    border-radius: 100px;
}
.specialists-dropdown__thumb > img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.specialists-dropdown__name {
    margin-bottom: 4px;
}
.specialists-list__item:hover .specialists-dropdown__name{
    color: var(--accent-color);
}
.specialists-dropdown__position {
    font-size: 14px;
    line-height: 1.4;
    color: var(--typography-t60);
}

/* ---- */
@media screen and (max-width: 1439px) {
    .specialists__content-desctop{
        display: none;
    }
}
@media screen and (min-width: 1440px) {
    .specialists__content-desctop{
        display: block;
    }
}
.specialists__list-desctop {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.specialists__label-desctop {
    cursor: pointer;
}
.specialists__thumb-desctop {
    width: 253px;
    height: 320px;
    margin-bottom: 10px;
    border-radius: 4px;
    overflow: hidden;
}
.specialists__thumb-desctop > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.specialists__main-desctop{
    display: flex;
    align-items: flex-start;
    gap: 12px;
}
.specialists__button-desctop {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1.5px solid var(--typography-t60);
}
.specialists__input-desctop{
    display: none;
}
.specialists__button-check-desctop {
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--button-color-40);
}
.specialists__input-desctop:checked +.specialists__button-check-desctop{
    display: block;
}
.specialists__name-desctop {
    margin-bottom: 5px;

    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
}
.specialists__position-desctop {
    font-size: 14px;
    line-height: 1.4;
}

/* ------------------------CONFIRMATION------------------- */
.booking__subtitle.confirmation__subtitle {
    margin-bottom: 40px;
}
@media screen and (min-width: 1440px) {
    .booking__subtitle.confirmation__subtitle{
        margin-bottom: 20px;
    }
}
.confirmation__description {
    margin-bottom: 24px;

    font-weight: 500;
    font-size: 15px;
    line-height: 1.4;
    color: var(--accent-color);
}
@media screen and (min-width: 1440px) {
    .confirmation__description{
        font-size: 16px;
    }
}
@media screen and (min-width: 1440px) {
    .confirmation__content {
        display: flex;
        gap: 80px;
        justify-content: space-between;
    }
}
@media screen and (min-width: 1440px) {
    .booking__info-block.confirmation__info-block {
        padding: 28px;
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1440px) {
    .confirmation__form-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
}


@media screen and (min-width: 834px) {
    .confirmation__description.confirmation__description-form{
        margin-bottom: 44px;
    }
}
@media screen and (min-width: 1440px) {
    .confirmation__description.confirmation__description-form{
        margin-bottom: 24px;
    }
}

.confirmation__form {
    width: 100%;
    padding: 12px;
}
@media screen and (min-width: 834px) {
    .confirmation__form {
        width: 560px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
}
@media screen and (min-width: 1440px) {
    .confirmation__form {
        width: 630px;
    }
}

@media screen and (min-width: 1440px) {
    .confirmation__form-container{
        display: flex;
        gap: 20px;
    }
}

@media screen and (min-width: 1440px) {
    .confirmation__labels-container{
        width: 100%;
    }
}
.confirmation-form__input {
    display: block;
    width: 100%;
    margin-bottom: 24px;
    padding: 13.5px 16px;
    border: none;
    border-bottom: 1px solid var(--accent-color);
    background-color: transparent;
    color: var(--accent-color);
}
.confirmation-form__input.margin{
    margin-bottom: 52px;
}
@media screen and (min-width: 834px) {
    .confirmation-form__input.margin{
        margin-bottom: 60px;
    }
}
.confirmation-form__input:hover, .confirmation-form__input:focus{
    border-width: 2px;
}

.confirmation-form__input::placeholder{
    color: var(--accent-color);
}
.confirmation-form__button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    border: none;
    border-radius: 100px;
    background-color: var(--accent-color);
    color: var(--global-text-color);
    transition: var(--main-transition);
    cursor: pointer;
}
@media screen and (min-width: 834px) {
    .confirmation-form__button{
        width: 300px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width: 1440px) {
    .confirmation-form__button{
        width: 300px;
        margin-left: 0;
        margin-right: auto;
    }
}
.confirmation-form__button:hover{
    background-color: var(--button-color-red-80);
  }
.confirmation-form__button:focus{
    outline: none;
    border: 2px solid var(--button-color-red-80);
  }

.confirmation-form__icon{
    fill: transparent;
    stroke: var(--global-text-color);
}
.confirmation__terms {
    margin-top: 20px;

    font-size: 10px;
    line-height: 1.4;
    color: var(--typography-t60);
}
@media screen and (min-width: 834px) {
    .confirmation__terms{
        width: 300px;
        margin-left: auto;
        margin-right: auto;

        text-align: center;
    }
}
@media screen and (min-width: 1440px) {
    .confirmation__terms{
        width: 300px;
        margin-left: 0;
        margin-right: auto;

        text-align: start;
    }
}

.confirmation-terms__link {
    color: var(--accent-color);
}