.main {
    padding-top: 20px;
    padding-bottom: 160px;
}

@media screen and (min-width: 843px) {
    .main {
        padding-top: 24px;
        padding-bottom: 160px;
    }
}

@media screen and (min-width: 1440px) {
    .main {
        padding-top: 40px;
        padding-bottom: 200px;
    }
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 49;
  }
  
.overlay.overlay-visible {
    display: block;
  }

/* ---------------------------BREADCRUMBS------------------- */
.breadcrumbs__container {
    margin-bottom: 40px;
}
.breadcrumbs{
    height: 17px;
    display: flex;
    align-items: center;
}
.breadcrumbs li{
    position: relative;
    margin-right: 23px;
}
.breadcrumbs li::after {
    content: '';
    position: absolute;
    right: -13px;
    top: 10px;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: var(--typography-t60);
}
.breadcrumbs li:last-child:after {
    display: none;
}

.breadcrumbs a {
    font-size: 12px;
    line-height: 1.4;
    text-decoration: none;
    color: var(--typography-t60);
    transition: var(--main-transition);
}

.breadcrumbs li:last-child a {
    color: var(--accent-color);
}
.breadcrumbs li:first-child a {
    color: var(--typography-t60);
}


/* --------------------------SERVICES------------------------------- */
.services-page__container {
    display: flex;
    gap: 56px;
}

/* -------------filter-desctop */
.filter-desctop__content-box {
    width: 260px;
}

@media screen and (max-width: 1439px) {
    .filter-desctop__content-box {
        display: none;
    }
}

.filter-desctop {
    padding: 24px;
    align-self: start;
    border-radius: 6px;
    background-color: var(--global-text-color);
    box-shadow: var(--main-box-shadow);
}
@media screen and (max-width: 1439px) {
    .filter-desctop {
        padding: 20px;
        background-color: transparent;
    }
}

/* --- */
.filter-desctop__panel {
    margin-bottom: 40px;
}

.filter-desctop-panel__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.filter-desctop-panel__title {
    font-family: var(--second-font-family);
    font-weight: 500;
    font-size: 34px;
    line-height: 1.4;
    letter-spacing: 3.4px;
}
@media screen and (max-width: 1439px) {
    .filter-desctop-panel__title {
        font-size: 28px;
        line-height: 1.33;
    }
}

.filter-desctop-panel__icon {
    stroke: var(--text-color);
}

@media screen and (max-width: 1439px) {
    .services-filter__choice-list {
        display: none;
    }
}
/* --- */
.filter-desctop__type {
    position: relative;
    margin-bottom: 40px;
}

.filter-desctop-type__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
    cursor: pointer;
}

.filter-desctop-type__title {
    font-family: var(--second-font-family);
    font-weight: 600;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 0.88px;
    color: var(--accent-color);
}
@media screen and (max-width: 1439px) {
    .filter-desctop-type__title {
        font-size: 18px;
    }
}

.filter-desctop-type__icon {
    fill: transparent;
    stroke: var(--accent-color)
}

.filter-desctop__checkbox-list {
    position: relative;
    display: none;
}

.filter-desctop-type__head.open~.filter-desctop__checkbox-list {
    display: block;
}

.filter-desctop-type__head.open .filter-desctop-type__icon {
    transform: rotate(-180deg);
}

.filter-desctop__checkbox-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}

.filter-desctop__checkbox-item:last-child {
    margin-bottom: 0;
}

.filter-desctop__checkbox-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.filter-desctop__checkbox {
    width: 20px;
    height: 20px;
    display: inline-block;
    border: 2px solid #b9b9b9;
    background-color: transparent;
    border-radius: 2px;
    padding: 3px;
    cursor: pointer;
    transition: var(--main-transition);
}

.filter-desctop__checkbox-item.checked .filter-desctop__checkbox {
    border: none;
    background-color: var(--accent-color);
}

.filter-desctop__checkbox-text {
    font-size: 14px;
}

.filter-desctop__checkbox-number {
    font-size: 14px;
    color: var(--default-50);
}

/* --- */
.filter-desctop__price {
    margin-bottom: 40px;
}
@media screen and (max-width: 1439px) {
    .filter-desctop__price {
       padding: 20px;
       border-radius: 6px;       
       background-color: var(--global-text-color);
    }
}

.filter-desctop-type__title.price__title {
    margin-bottom: 24px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.filter-desctop-price__inputs {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 24px;
}
@media screen and (max-width: 1439px) {
    .filter-desctop-price__inputs {
        gap: 24px;
    }
}

.filter-desctop-price__text {
    font-size: 12px;
    line-height: 1.4;
    color: var(--accent-color);
}

.filter-desctop-price__label {
    position: relative;
}

.filter-desctop-price__valute {
    position: absolute;
    top: 9px;
    left: 8px;
    font-size: 13px;
    color: var(--accent-color);

}

.filter-desctop-price__input {
    width: 66px;
    padding: 8px 8px 8px 16px;
    border-radius: 45px;
    border: 1px solid var(--accent-color);

    font-size: 13px;
    color: var(--accent-color);
}
.filter-desctop-price__input:hover{
    border-width: 2px;
    color: var(--button-color-red-80);
}
.filter-desctop-price__input:focus{
    border-width: 2px;
    color: var(--button-color-red-80);
}
@media screen and (max-width: 1439px) {
    .filter-desctop-price__input {
        width: 97.5px;
    }
}
.noUi-horizontal {
    height: 4px;
}

.noUi-target {
    border: none;
    background: var(--default-50);
}

.noUi-connect {
    background: var(--accent-color);
}

.noUi-horizontal .noUi-handle {
    width: 16px;
    height: 16px;
    right: -3px;
    top: -6px;
    border-radius: 100px;
    border: none;
    box-shadow: none;
    background-color: var(--accent-color);
}

.noUi-touch-area {
    cursor: pointer;
}
.noUi-handle::after,
.noUi-handle::before {
    display: none;
}

.filter-desctop__effect {
    margin-bottom: 40px;
}

/* --------------- */
.title {
    margin-bottom: 24px;

    font-family: var(--second-font-family);
    font-size: 32px;
    font-weight: 700;
    line-height: 1.45;
    letter-spacing: 5.6px;
    text-transform: uppercase;
    color: var(--text-color);
}

@media screen and (min-width: 1440px) {
    .title {
        margin-bottom: 12px;

        font-size: 38px;
        letter-spacing: 3.8px;
    }
}

.title-accent {
    color: var(--accent-color);
}

.description {
    margin-bottom: 24px;

    font-size: 14px;
    line-height: 1.4;
}

@media screen and (min-width: 1440px) {
    .description {
        margin-bottom: 20px;

        line-height: 1.6;
    }
}

/* -----------services filter */
.services-page__filter {
    margin-bottom: 40px;
}
.services-filter__buttons {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width: 1439px) {
    .services-filter__buttons {
        justify-content: flex-end;
    }
}

.services-filter__button-filter {
    width: 153px;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    border-radius: 100px;
    background-color: var(--accent-color);

    font-size: 15px;
    letter-spacing: 0.15px;
    color: var(--global-text-color);
}
.services-filter__button-filter:hover {
    background-color: var(--button-color-red-80);
}
.services-filter__button-filter:focus {
    border: 2px solid var(--button-color-red-80);
    background-color: var(--accent-color);
}
@media screen and (min-width: 1439px) {
    .services-filter__button-filter {
        display: none;
    }
}

.services-filter__button-filter:focus {
    border: 1px solid var(--button-color-red-80);
    background-color: var(--accent-color);
}

.services-filter__button-filter:hover {
    background-color: var(--button-color-red-80);
}

.services-filter__button-filter:active {
    background-color: var(--accent-color);
}

.services-filter__button-sort-box {
    position: relative;
}

.services-filter__button-sort {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border: none;
    background-color: transparent;

    font-size: 15px;
    letter-spacing: 0.15px;
    color: var(--accent-color);
    transition: var(--main-transition);
    cursor: pointer;
}
.services-filter__button-sort:hover{
    color: var(--button-color-red-80);
}
.services-filter__button-sort:focus{
    color: var(--button-color-red-80);
}
@media screen and (min-width: 1440px) {
    .services-filter__button-sort {
        gap: 10px;
        font-size: 16px;
    }
}
.services-filter__icon{
    fill: transparent;
    stroke: var(--accent-color);
    transition: var(--main-transition);
}
.services-filter__button-sort:hover .services-filter__icon{
    stroke: var(--button-color-red-80);
}
.services-filter__button-sort:focus .services-filter__icon{
    stroke: var(--button-color-red-80);
}

.services-filter__menu-sort {
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 10;
    width: 226px;

    display: none;
}
.services-filter__menu-sort.is-open {
    display: block;
    box-shadow: 0px 4px 61px 0px rgba(127, 43, 37, 0.14);
}
@media screen and (max-width: 1439px) {
    .services-filter__menu-sort {
        display: none;
    }
}

.services-filter__button-sort:focus,
.services-filter__button-sort:hover {
    color: var(--button-color-red-80);
}

.services-filter__button-sort:active {
    color: var(--accent-color);
}


@media screen and (min-width: 1440px) {
    .services-page-filter__choice-list {
        display: none;
    }
}
.choice-list {
    display: flex;
    align-items: center;
    justify-content: normal;
    flex-wrap: wrap;
    gap: 12px;
}

.choice-list__item {
    display: none;
}

.choice-list__button {
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
@media screen and (min-width: 1440px) {
    .choice-list__button {
        padding: 0;
    }
}
.choice-list__icon{
    width: 20px;
    height: 20px;
}
.choice-list__button-text {
    font-size: 14px;
    color: var(--accent-color);
    transition: var(--main-transition);
}

.choice-list__button:hover .choice-list__button-text,
.choice-list__button:focus .choice-list__button-text {
    color: var(--button-color-red-80);
}

.choice-list__button:active .choice-list__button-text {
    color: var(--text-color);
}


/* ------------services-body */
.services-page__item.hide-services-page__item {
    display: none;
}
.services-page__list {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px 10px;
}
@media screen and (min-width: 843px) {
    .services-page__list {
        gap: 40px 20px;
    }
}
@media screen and (min-width: 1440px) {
    .services-page__list {
        justify-content: normal;
        gap: 60px 30px;
    }
}

.services-page__item {
    width: 170px;
    height: 421px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

@media screen and (min-width: 1440px) {
    .services-page__item {
        width: 218.5px;
    }
}

.services-page__item-link {
    cursor: pointer;
}

.services-page__item-thumb {
    position: relative;
    width: 100%;
    height: 244px;
    margin-bottom: 20px;
    overflow: hidden;
    border-radius: 6px;
}
.services-page__item-link:focus .services-page__item-thumb{
    border: 2px solid var(--accent-color);
}

.services-page__item-thumb>img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.services-page__item-label {
    position: absolute;
    top: 8px;
    left: 8px;
    z-index: 5;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
    border-radius: 4px;
    background-color: var(--other-red);
    color: var(--global-text-color);

    font-size: 11px;
    line-height: 1.4;
}

.services-page__item-content {
    flex-grow: 1;
}

.services-page__item-title {
    margin-bottom: 10px;
    overflow-wrap: anywhere;
    transition: var(--main-transition);

    font-family: var(--second-font-family);
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: 0.72px;
    color: var(--text-color);
}
.services-page__item-link:hover .services-page__item-title{
    color: var(--button-color-red-80);
}
.services-page__item-description {
    font-size: 14px;
    line-height: 1.4;
    color: var(--help-text-color);
}

.services-page__item-button {
    width: 100%;
    padding: 12px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100px;
    background-color: var(--accent-color);
    color: var(--global-text-color);
    transition: var(--main-transition);
    cursor: pointer;
}
.services-page__item-button:hover{
    background-color: var(--button-color-red-80);
  }
.services-page__item-button:focus{
    outline: none;
    border: 2px solid var(--button-color-red-80);
  }

/* ----------------pagination */
.services-page__pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
}

.services-page-pagination__arrow-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.services-page-pagination__icon {
    fill: transparent;
    stroke: var(--text-color);
}

.services-page-pagination__list {
    display: flex;
    align-items: center;
    gap: 6px;
}

.services-page-pagination__item {
    width: 40px;
    height: 40px;
}

.services-page-pagination__button {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 100px;
    background-color: transparent;
    transition: var(--main-transition);
    cursor: pointer;
}

.services-page-pagination__button:hover,
.services-page-pagination__button:focus,
.services-page-pagination__button:active {
    background-color: var(--button-color-red-80);
    color: var(--global-text-color);
}

/* -------------------------FILTER MOBILE MENU---------- */
.filter-mob-menu__content {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;

    width: 100vw;
    height: 100vh;
    overflow: auto;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}
@media screen and (min-width: 843px) {
    .filter-mob-menu__content {
        width: 390px;
        transform: translateX(-230%);
    }
}

.filter-mob-menu__content.is-open {
    transform: translateX(0);

    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-image: url("../../images/bg_sm@1x.png");
    background-color: var(--global-text-color);
    
}

@media (min-resolution: 192dpi) {
    .filter-mob-menu__content.is-open {
        background-image: url("../../images/bg_sm@2x.png");
    }
}

/* TABLET SCREEN */
@media screen and (min-width: 843px) {
    .filter-mob-menu__content.is-open {
        background-image: url("../../images/bg_md@1x.png");
    }
}

@media (min-resolution: 192dpi) and (min-width: 843px) {
    .filter-mob-menu__content.is-open {
        background-image: url("../../images/bg_md@2x.png");
    }
}

.filter-panel__btn-close {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
}

.filter__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
@media screen and (min-width: 1440px) {
    .filter__buttons {
        display: none;
    }
}
.filter__mob-button {
    width: 169px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    border-radius: 100px;
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
    background-color: var(--global-text-color);
}
.accent {
    border: none;
    background-color: var(--accent-color);
    color: var(--global-text-color);
}

/* -------------------------SORT MOBILE MENU---------- */
.sort-mob-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 50;
    width: 100vw;

    transform: translateY(100%);
    transition: transform 350ms ease-in-out;
}
.sort-mob-menu.is-open {
    transform: translateY(0);
    transition: transform 350ms ease-in-out;
}
.sort-mob-menu__head {
    padding-right: 3px;
    background-color: transparent;
}
.sort-mob-menu__button {
    display: block;
    width: 42px;
    height: 42px;
    padding: 9px;
    margin-left: auto;
    margin-bottom: 12px;
    border: none;
    border-radius: 50%;
    background-color: var(--global-text-color);
}
.sort-mob-menu__main {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px 12px 36px 12px;
    background-color: var(--global-text-color);
}
@media screen and (min-width: 1440px) {
    .sort-mob-menu__main {
        padding: 20px;
        gap: 20px;
        border-radius: 12px;
    }
}

.sort-mob-menu__label {
    position: relative;
    width: 100%;
    padding: 12px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--accent-color);
    cursor: pointer;
}
.sort-mob-menu__label.checked {
    background-color: var(--accent-color);
    color: var(--global-text-color);
}
@media screen and (min-width: 1440px) {
    .sort-mob-menu__label {
        padding: 0;
        border: none;
    }
}
@media screen and (min-width: 1440px) {
    .sort-mob-menu__label.checked {
        background-color: transparent;
        color: var(--accent-color);
    }
}
@media screen and (min-width: 1440px) {
    .sort-mob-menu__label:hover {
        background-color: transparent;
        color: var(--accent-color);
    }
}
.sort-mob__custom-radio{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 1.5px solid var(--accent-color);
}
.sort-mob-menu__label.checked .sort-mob__custom-radio{
    border: 1.5px solid var(--global-text-color);
}
@media screen and (min-width: 1440px) {
    .sort-mob__custom-radio {
        display: none;
    }
}

.sort-mob__custom-radio::before{
    content: "";
    display: none;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--global-text-color);
}
.sort-mob-menu__label.checked .sort-mob__custom-radio::before{
    display: block;
}
  
  
  